<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Hers is ur post details</h1>
    <p>Post id:<%=post.id%></p>
    <h3>@<%=post.username%></h3>
    <h4><%=post.content%></h4>
  </body>
</html>
